<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Discovery Wizard</title>
	</head>

	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
	<link rel="stylesheet" type="text/css" href="../bower_components/angular-material/angular-material.css">
	<style media="screen">
		.hidden {
			position: absolute;
			z-index: -999999;
		}
	</style>
	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="../bower_components/angular-aria/angular-aria.js"></script>
	<script type="text/javascript" src="../bower_components/angular-animate/angular-animate.js"></script>
	<script type="text/javascript" src="../bower_components/angular-material/angular-material.js"></script>

	<body ng-app="app" ng-controller="discoveryController" ng-cloak>
		<div ng-show="connecting" layout="column" layout-align="center center">
			<br>
			<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Connecting ....
			<br>
			<md-button id="cancelConnectingBtn" ng-click="cancelLoading()">Cancel connecting</md-button>
		</div>

		<div ng-hide="connecting" style="padding:30px;">
			<span class="hidden" id="status_txt">{{status}}</span>

			<h1> Device auto discovery wizard</h1>
			<br>
			<div ng-if="scanning">
				<md-progress-linear md-mode="indeterminate"></md-progress-linear>
				<b id="status">{{status}}</b> :{{searching}}
			</div>
			<div ng-if="scanning === false">
				<md-button id="rescanBtn" class="md-raised md-primary" ng-click="start_scanning()">
					Rescan local network
					<md-tooltip md-delay="500">
						Restart the scanning accross all the networks this system is connected to
					</md-tooltip>
				</md-button>

			</div>
			<md-button id="localBtn" class="md-raised md-primary" ng-click="start_core()">
				Start core locally
				<md-tooltip md-delay="500">
					Start the backend core to run program from this system
				</md-tooltip>
			</md-button>

			<md-list flex>
				<md-subheader class="md-no-sticky">Devices (
					<span id="devices_count">{{devices.length}}</span>):</md-subheader>
				<md-list-item ng-repeat="ip in devices" layout="row">
					<h3>{{ip}}</h3>
					<span flex></span>
					<md-button class="connectBtn md-raised" ng-click="connect(ip)">
						Connect
					</md-button>
				</md-list-item>
			</md-list>
		</div>

		<script type="text/javascript">
			angular
				.module('app', ['ngMaterial', 'ngAnimate'])
				.config(['$mdThemingProvider', function($mdThemingProvider) {
					$mdThemingProvider
						.theme('docs-dark', 'default')
						.primaryPalette('yellow')
						.dark()
						.foregroundPalette['3'] = 'yellow';
				}])
				.controller('discoveryController', ['$scope', function($scope) {
					debug("Controller started");

					$scope.start_core = function() {
						$scope.connecting = true
						ipc.send('start_core');
					}

					$scope.connect = function(ip) {
						$scope.connecting = true
						ipc.send('connect_core', ip);
					}

					$scope.cancelLoading = function() {
						ipc.send('cancel_loading_core');
					}

					$scope.start_scanning = function() {
						ipc.send('discovery:start_scanning');
						$scope.status = "searching..";
						$scope.scanning = true;
						$scope.devices = [];

						ipc.on("discovery:devices", function(em, devices) {
							debug("Got :" + devices);

							$scope.$apply(function() {
								$scope.devices = devices;
							})
						})
						ipc.on("discovery:searching", function(em, ip) {
							debug("Searching for :" + ip);

							$scope.$apply(function() {
								$scope.searching = ip;
							})
						})
						ipc.on("discovery:scan_done", function(em, devices) {
							if (Array.isArray(devices)) {
								$scope.$apply(function() {
									$scope.status = "Scan complete";
									$scope.scanning = false;
									$scope.devices = devices;
								})
							} else {
								$scope.$apply(function() {
									$scope.status = "Scan complete";
									$scope.devices = []
								});
							}
						})
					}

					$scope.start_scanning()
				}]);
		</script>
	</body>

</html>
