<div ng-cloak style="padding:30px;">
	<span class="hidden" id="status_txt">{{status}}</span>

	<h1> Device auto discovery wizard</h1>
	<br>
	<div ng-if="scanning">
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		<b id="status">{{status}}</b> :{{searching}}
	</div>
	<div ng-if="scanning === false">
		<md-button id="rescanBtn" class="md-raised md-primary" ng-click="start_scanning()">
			Rescan local network
			<md-tooltip md-delay="500">
				Restart the scanning accross all the networks this system is connected to
			</md-tooltip>
		</md-button>
	</div>
	<md-button id="localBtn" class="md-raised md-primary" ng-click="start_core()">
		Start core locally
		<md-tooltip md-delay="500">
			Start the backend core to run program from this system
		</md-tooltip>
	</md-button>

	<md-list flex>
		<md-subheader class="md-no-sticky">Devices found (
			<span id="devices_count">{{devices.length}}</span>):</md-subheader>
		<md-list-item ng-repeat="ip in devices" layout="row">
			<h3>{{ip}}</h3>
			<span flex></span>
			<md-button class="connectBtn md-raised" ng-click="connect(ip)">
				Connect
			</md-button>
		</md-list-item>
	</md-list>
</div>
